::ng-deep .p-dropdown-item {
    color: rgb(55, 0, 60)!important; 
}

::ng-deep .p-dropdown-label {
    color: rgb(55, 0, 60)!important;
}

::ng-deep .p-dropdown-panel ul {
    padding-left: 0vw !important;
}

.MB-20 {
    margin-bottom: 5vh;
}

.PT-1 {
    padding-top: 1vh;
}

.PL-7 {
    padding-left: 7vw;
}

.PL-4 {
    padding-left: 4vw;
}

.PL-5 {
    padding-left: 5vw;
}

.P-05 {
    padding-top: 1vh;
}

.container {
    padding-top: 2rem;
}

.heading {
    font-size: 1vh;
    font-family: PremierSans-Bold, Arial, "Helvetica Neue", Helvetica, sans-seriff;
    color: rgb(55, 0, 60);
}

.dropdown {
    padding-left: 6vw;
}