.container {
    padding-top: 2rem;
}

.heading {
    font-size: 2.5rem;
    font-family: PremierSans-Bold, Arial, "Helvetica Neue", Helvetica, sans-seriff;
    margin: 1.5rem 0px;
    color: rgb(55, 0, 60);
}

.dropdown {
    padding-left: 100px;
}

.p-dropdown-label {
    color: rgb(55, 0, 60)!important; 
}

.p-dropdown-items {
    color: rgb(55, 0, 60)!important; 
}

.p-dropdown-item {
    color: rgb(55, 0, 60)!important; 
}