.bg-fpl{
    background-color: #37003c !important;
    padding: 0rem !important;
}

.navbar-logo img{
    height: 4rem;
}

.nav-link {
    font-family: "PremierSans-Heavy", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    color: #fff;
}