<!-- <nav class="navbar navbar-expand-md bg-dark bg-fpl navbar-dark navbar-static-top">
    <div class="navbar-logo">
        <img src="../../../assets/premierleague.png" alt="Premier League Logo" />
    </div>
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button"        
    data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/fixtures">Fixtures</a>
            </li>    
            <li class="nav-item">
                <a class="nav-link" routerLink="/players">Players</a>
            </li> 
        </ul>
    </div>
</nav> -->
<p-menubar class="bg-dark" [model]="items">
    <ng-template pTemplate="start">
        <img src="../../../assets/premierleague.png" alt="Premier League Logo" />
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
        <a [routerLink]="item.route" pRipple class="flex align-items-center p-menuitem-link">
            <span class="ml-2">{{ item.label }}</span>
        </a>
    </ng-template>
</p-menubar>
