:host ::ng-deep .p-card {
    width: 80px;
    height: 155px;
    margin-bottom: 10px;
}

:host ::ng-deep .p-card-header {
    height: 100px;
}

:host ::ng-deep .p-card-body {
    height: 80px;
    margin-bottom: 0;
    padding: 5px;
}

:host ::ng-deep .p-card-content {
    height: 40px;
    padding: 0;
}

p {
    margin-bottom: 1px;
    text-align: center;
}