::ng-deep .p-datatable-scrollable>.p-datatable-wrapper {
    min-height: 70vh; /* or your desired height */
}

::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #37003c !important;
    background: #37003c !important;
}

::ng-deep .p-highlight {
    color: #37003c!important;
}

:ng-deep .p-column-filter-remove-button {
    background-color: #ffffff!important;
    border-color: #ffffff!important;
}

::ng-deep .p-column-filter-buttonbar .p-element.p-button-sm.p-button.p-component.ng-star-inserted {
    background-color: #37003c!important;
    border-color: #37003c!important;
}

::ng-deep .p-button.p-button-outlined {
    color: #ffffff!important;
}

::ng-deep .p-column-filter-add-button {
    color: #37003c !important;
}

::ng-deep .p-inputnumber-button.p-inputnumber-button-down {
    background-color: #37003c!important;
    border-color: #37003c!important;
}

::ng-deep .p-inputnumber-button.p-inputnumber-button-up {
    background-color: #37003c!important;
    border-color: #37003c!important;
}