<div class="overlay-container">
    <!-- football-pitch.component.html -->
    <svg width="400" height="650" xmlns="http://www.w3.org/2000/svg">
    <!-- Add your football field SVG here -->
    <image xlink:href="../../../assets/footballpitch.svg" width="100%" height="100%" />
    <!-- Player icons will be positioned within this SVG -->
    <!-- <circle
    *ngFor="let position of playerPositions"
    [attr.cx]="position.x"
    [attr.cy]="position.y"
    r="10"
    fill="blue"
  /> -->
    <image
    xlink:href="../../../assets/jersey.svg" width="20%"
    *ngFor="let position of playerPositions"
    [attr.cx]="position.x"
    [attr.cy]="position.y"
    />
  </svg>
  
    <!-- <div class="row pitchplayers">
        <div class="col-2">
            <app-pitch-player></app-pitch-player>
        </div>
        <div class="col-2">
            <app-pitch-player></app-pitch-player>
        </div>
        <div class="col-2">
            <app-pitch-player></app-pitch-player>
        </div>
        <div class="col-2">
            <app-pitch-player></app-pitch-player>
        </div>
    </div> -->
</div>
  
