<div class="container">
    <div class="row">
        <div class="col-3 playerpic">
            <img alt="Card" src="https://resources.premierleague.com/premierleague/photos/players/110x140/p244851.png" />
        </div>
        <div class="col-5">
            <div class="row baseinfo">
                <div class="col-9 playername">
                    Cole Palmer
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <br/>
                    Midfielder
                </div>
                <div class="col-6">
                    <img alt="Card" src="https://resources.premierleague.com/premierleague/badges/70/t8.png" />
                </div>
            </div>
        </div>
    </div>
    <br/>
    <p-panel header="Stats">
        <div class="row">
            <div class="col-2">
                <div class="row statRowHeading">
                    <p class="text-center">
                        Price
                    </p>
                </div>
                <div class="row statRowInfo">
                    <p class="text-center">
                        £10.5m
                    </p>
                </div>
            </div>
            <p-divider class="col-1" layout="vertical" />
            <div class="col-1">
                <div class="row statRowHeading">
                    <p class="text-center">
                        Form
                    </p>
                </div>
                <div class="row statRowInfo">
                    <p class="text-center">
                        0.0
                    </p>
                </div>
            </div>
            <p-divider class="col-1" layout="vertical" />
            <div class="col-2">
                <div class="row statRowHeading">
                    <p class="text-center">
                        Pts / Match
                    </p>
                </div>
                <div class="row statRowInfo">
                    <p class="text-center">
                        7.2
                    </p>
                </div>
            </div>
            <p-divider class="col-1" layout="vertical" />
            <div class="col-1">
                <div class="row statRowHeading">
                    <p class="text-center">
                        Total Pts
                    </p>
                </div>
                <div class="row statRowInfo">
                    <p class="text-center">
                        244
                    </p>
                </div>
            </div>
            <p-divider class="col-1" layout="vertical" />
            <div class="col-2">
                <div class="row statRowHeading">
                    <p class="text-center">
                        ICT Index
                    </p>
                </div>
                <div class="row statRowInfo">
                    <p class="text-center">
                        327.8
                    </p>
                </div>
            </div>
        </div>
    </p-panel>
    <p-divider align="center" type="dashed" class="fixtureHeading">
        <b>Fixtures</b>
    </p-divider>
    <div class="row">
        <div class="col-2">
            <app-fixture-card></app-fixture-card>
        </div>
        <div class="col-2">
            <app-fixture-card></app-fixture-card>
        </div>
        <div class="col-2">
            <app-fixture-card></app-fixture-card>
        </div>
        <div class="col-2">
            <app-fixture-card></app-fixture-card>
        </div>
        <div class="col-2">
            <app-fixture-card></app-fixture-card>
        </div>
        <div class="col-2">
            <app-fixture-card></app-fixture-card>
        </div>
    </div>
</div>
