<div class="container">
    <div class="row">
        <div class="col-3 playerpic">
            <img alt="Card" src="https://resources.premierleague.com/premierleague/photos/players/110x140/p244851.png" />
        </div>
        <div class="col-5">
            <div class="row baseinfo">
                <div class="col-9 playername">
                    Cole Palmer
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <br/>
                    Midfielder
                </div>
                <div class="col-6">
                    <img alt="Card" src="https://resources.premierleague.com/premierleague/badges/70/t8.png" />
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <p-panel header="Stats">
            <p-splitter [style]="{ height: '3rem' }">
                <ng-template pTemplate>
                    <div class="col flex align-items-center justify-content-center">
                        Panel 1
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div class="col flex align-items-center justify-content-center">
                        Panel 2
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div class="col flex align-items-center justify-content-center">
                        Panel 3
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div class="col flex align-items-center justify-content-center">
                        Panel 4
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div class="col flex align-items-center justify-content-center">
                        Panel 5
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div class="col flex align-items-center justify-content-center">
                        Panel 6
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div class="col flex align-items-center justify-content-center">
                        Panel 7
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div class="col flex align-items-center justify-content-center">
                        Panel 8
                    </div>
                </ng-template>
            </p-splitter>
        </p-panel>
    </div>
</div>
